<div class="menu_items">
    
    <div>
        <ul>
            <div class="menu_item_title">Porfolio</div>
            <li class="menu_item"><a href="/index.html">Home</a></li>
        </ul>
    </div>

    <!--div class="menu_item">
        
    </div-->
    <div>
        <ul>
            <div class="menu_item_title">Html/Css lab IronHack</div>
            <li class="menu_item"><a href="/pages/pag_noticiero.html">web news</a></li>
            <li class="menu_item"><a href="/pages/pag_game_boom_hover.html">Game Boom hover</a></li>
            <li class="menu_item"><a href="/pages/pag_fav_character.html">Favorite character</a></li>
            <li class="menu_item"><a href="/pages/pag_bootstrap_holy_grail.html">Bootstrap Holy Grail</a></li>
            <li class="menu_item"><a href="/pages/pag_mini_tests.html">Mini Tests</a></li>
            <li class="menu_item"><a href="/pages/pag_corp_web.html">Corporative web</a></li>
        </ul>
    </div>
    
    <div>
        <ul>
            <div class="menu_item_title">JS week 5 lab IronHack</div>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw5_cond.html">Conditionals</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw5_fors.html">Loops</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw5_password.html">Password</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw5_sum.html">Sum</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw5_miniexcersices.html">Mini Exercises</a></li>
        </ul>
    </div>

    <div>
        <ul>
            <div class="menu_item_title">JS week 6 lab IronHack</div>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw6_calcute.html">Calculate</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw6_cinema.html">Cinema/Weigth</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw6_popup.html">Popup</a></li>
        </ul>
    </div>

    <div>
        <ul>
            <div class="menu_item_title">JS week 7 lab IronHack</div>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw7_zoo.html">Zoo</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw7_music_catg.html">Music Catalog</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw7_array2d.html">Array 2D</a></li>
        </ul>
    </div>
    
    <div>
        <ul>
            <div class="menu_item_title">JS week 8 lab IronHack</div>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw8_jsons.html">Json's</a></li>
            <li class="menu_item"><a href="/pages/js_labs/pag_jsw8_calc.html">Calculator</a></li>
        </ul>
    </div>
    
    <div>
        <ul>
            <div class="menu_item_title">Examns IronHack</div>
            <li class="menu_item"><a href="/pages/pag_exam_m1.html">Module 1 (JS,CSS,HTML)</a></li>
        </ul>
    </div>
</div>