<div class="menu_items">
    <div class="menu_item">
        <a href="/index.html">Home</a>
    </div>
    <div class="menu_item">
        <a href="/pag2.html">Info</a>
    </div>
    <div class="menu_item">
        <a href="/pag3.html">Career</a>
    </div>
    <div class="menu_item">
        <a href="/pag4.html">About me</a>
    </div>
    <div>
        <ul>
            <div class="menu_item_title">Trainnig lab IronHack</div>
            <li class="menu_item"><a href="/pages/pag_noticiero.html">web news</a></li>
            <li class="menu_item"><a href="/pages/pag_game_boom_hover.html">Game Boom hover</a></li>
            <li class="menu_item"><a href="/pages/pag_fav_character.html">Favorite character</a></li>
            <li class="menu_item"><a href="/pages/pag_bootstrap_holy_grail.html">Bootstrap Holy Grail</a></li>
            <li class="menu_item"><a href="/pages/pag_mini_tests.html">Mini Tests</a></li>
            <li class="menu_item"><a href="/pages/pag_corp_web.html">Corporative web</a></li>
        </ul>
    </div>
</div>