
@import url(./sass_style.css);

.w-100 {
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.h-hv-10 {
    height: 10vh;
}
.h-hv-30 {
    height: 30vh;
}
.h-hv-100 {
    height: 100vh;
}
.h-100 {
    height: 100%;
}
.h-90 {
    height: 90%;
}
/* flex */
.split_row {
    display: flex;
    flex-direction: row;
}
.w-grow {
    flex-grow: 1;
    flex-basis: 0;
}
.w-grow-1 {
    flex-grow: 1;
}
.w-grow-2 {
    flex-grow: 2;
}
.w-grow-3 {
    flex-grow: 3;
}
.split_col {
    display: flex;
    flex-direction: column;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.d-justify-center {
    justify-content: center;
}

.d-align-center {
    align-items: center;
}
/* grid */

/* paddings */
.padding-10 {
    padding: 10px;
}
.padding-30 {
    padding: 30px;
}


/* TEXT uses*/
.text-center {
    text-align: center;
}
.text-r{
    text-align: right;
}
.font-2 {
    font-size: 2rem;
}
.font-3 {
    font-size: 3rem;
}
.font-bold {
    font-weight: bold;
}

.color-white {
    color: white;
}


/* Tranformation general*/
.transform-img-color:hover {
    scale: 1.1;
    filter: hue-rotate(30deg);
    transition: all 0.3s ease ;
}
.enabled_transition_03 > .transform-img-color {
    transition: all 0.3s ease ;
}

/* animations */

@keyframes revealing_right {
    from {
        color: gray;
        transform: translateX(100vw);
        filter: blur(30px);
        opacity: 0.5;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}

.ani_scroll_in-right {
    animation: revealing_right;
    animation-timeline: view(block);
    animation-duration: 1s;
    animation-range: cover 0% cover 40%;
}

@keyframes revealing_left {
    from {
        color: gray;
        transform: translateX(-100vw);
        filter: blur(30px);
        opacity: 0.5;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}
.ani_scroll_in-left {
    animation: revealing_left;
    animation-timeline: view(block);
    animation-duration: 1s;
    animation-range: cover 0% cover 40%;
}


@keyframes revealing_fadein {
    from {
        color: gray;
        transform: scale(0);
        filter: blur(30px);
        opacity: 0.5;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}
.ani_scroll_fadein {
    animation: revealing_fadein;
    animation-timeline: view(block);
    animation-duration: 1s;
    animation-range: cover 0% cover 40%;
}


@keyframes revealing_fadein_bounce {
    0% {
        color: gray;
        transform: scale(0);
        filter: blur(30px);
        opacity: 0.5;
    }
    80% {
        filter: blur(0px);
        opacity: 1;
    }
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.ani_scroll_fadein_bounce {
    animation: revealing_fadein_bounce;
    animation-timeline: view(block);
    animation-duration: 1s;
    animation-range: cover 0% cover 40%;
}