
@import url(./sass_style.css);

.w-wv-100 {
    width: 100vw;
}
.w-100 {
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-80 {
    width: 80%;
}
.w-70 {
    width: 70%;
}
.w-60 {
    width: 60%;
}
.w-30 {
    width: 30%;
}

.h-hv-5 {
    height: 5vh;
}
.h-hv-10 {
    height: 10vh;
}
.h-hv-30 {
    height: 30vh;
}
.h-hv-100 {
    height: 100vh;
}
.h-100 {
    height: 100%;
}
.h-90 {
    height: 90%;
}
.h-30 {
    height: 30%;
}
.h-40 {
    height: 40%;
}
.h-60 {
    height: 60%;
}
.h-50 {
    height: 50%;
}
.h-70 {
    height: 70%;
}
.h-80 {
    height: 80%;
}
.gap-2rem {
    gap: 2rem;
}

.rat-1 {
    aspect-ratio: 1/1;
}
.rat-16-9 {
    aspect-ratio: 16/9;
}
/* flex */
.split_row {
    display: flex;
    flex-direction: row;
}
.split_col {
    display: flex;
    flex-direction: column;
}
.w-grow {
    flex-grow: 1;
    flex-basis: 0;
}
.w-grow-1 {
    flex-grow: 1;
}
.w-grow-2 {
    flex-grow: 2;
}
.w-grow-3 {
    flex-grow: 3;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.d-justify-center {
    justify-content: center;
}

.d-align-center {
    align-items: center;
}
/* grid */

/* paddings */
.padding-10 {
    padding: 10px;
}
.padding-30 {
    padding: 30px;
}

/* Image formats*/
.img-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}
.mask-border-1{
    mask-image: linear-gradient(black 90%, transparent);
}

/* TEXT uses*/
.text-center {
    text-align: center;
}
.text-r{
    text-align: right;
}
.font-2 {
    font-size: clamp(.75rem,3vw, 2rem);
}
.font-3 {
    font-size: clamp(1rem,5vw, 2.5rem);
}
.font-4 {
    font-size: clamp(1.5rem,10vw, 2.5rem);
}
.font-5 {
    font-size: clamp(1.7rem,10vw, 5rem);
}
.font-bold {
    font-weight: bold;
}
.svg-shadow-black {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.26));
}
.svg-shadow-white {
    filter: drop-shadow(3px 3px 10px rgba(199, 185, 185, 0.356));
}



.color-white {
    color: white;
}
.color-gold {
    color: goldenrod;
}
.color-glass {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
}

/* effects background*/
.bg-glass-dark {
    background-color: rgba(255, 255, 255, 0.05);
    background: hsla(0, 1%, 17%, 0.911);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.288);
}

.bg-glass {
    /*background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(116, 110, 110, 0.171);
    border-right-color: rgba(134, 130, 130, 0.288);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.288);*/
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.178);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
}

/* Tranformation general*/
.transform-img-color:hover {
    scale: 1.1;
    filter: hue-rotate(30deg);
    transition: all 0.3s ease ;
}
.enabled_transition_03 > .transform-img-color {
    transition: all 0.3s ease ;
}
.expand-1 {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

/* hover effects */
.effect-shine {
    position: relative;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: -1%;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.3), transparent);
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        
    }
    &:hover::before {
        transform: translateX(105%);
    }
}

/* animations */
@keyframes blur-in {
    from {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    to {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

@keyframes revealing_right {
    from {
        color: gray;
        transform: translateX(100vw);
        filter: blur(30px);
        opacity: 0.5;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}

.ani_scroll_in-right {
    animation: revealing_right;
    animation-timeline: view(block);
    animation-duration: 0.5s;
    animation-range: cover 0% cover 30%;
}

@keyframes revealing_left {
    from {
        color: gray;
        transform: translateX(-100vw);
        filter: blur(30px);
        opacity: 0.8;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}
.ani_scroll_in-left {
    animation: revealing_left;
    animation-timeline: view(block);
    animation-duration: 0.5s;
    animation-range: cover 0% cover 30%;
}


@keyframes revealing_fadein {
    from {
        color: gray;
        transform: scale(0);
        filter: blur(30px);
        opacity: 0.5;
    }
    to {
        filter: blur(0px);
        opacity: 1;
    }
}
.ani_scroll_fadein {
    animation: revealing_fadein;
    animation-timeline: view(block);
    animation-duration: 0.5s;
    animation-range: cover 0% cover 30%;
}


@keyframes revealing_fadein_bounce {
    0% {
        color: gray;
        transform: scale(0);
        filter: blur(30px);
        opacity: 0.5;
    }
    80% {
        filter: blur(0px);
        opacity: 1;
    }
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.ani_scroll_fadein_bounce {
    animation: revealing_fadein_bounce;
    animation-timeline: view(block);
    animation-duration: 1s;
    animation-range: cover 0% cover 40%;
}